/* scrollbar */
::-webkit-scrollbar {
    width: 10px;
    display: none;
}

/* Color Variables */
:root {
    --primary-color: #03767b;
    --secondary-color: #171717;
    --tertiary-color: #ffffff;
    --accent-color: #adadad;
    --highlight-color: #10d0d6;
    /* background colours */
    --background-primary: #ffffff;
    --background-secondary: #171717;
    /* text colours */
    --text-primary: #171717;
    --text-secondary: #ffffff;
    --text-tertiary: #adadad;
}

html body {
    overscroll-behavior: none;
}

/* body */
body {
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    background-color: var(--background-primary);
}

/* fonts */

@font-face {
    font-family: Bayon;
    src: url(assets/fonts/bayon_font.ttf);
}

@font-face {
    font-family: AudioWide;
    src: url(assets/fonts/Audiowide.ttf);
}

a {
    text-decoration: none;
}

/* header including nav links, socials icons and opening text */
.header {
    background-image: url(assets/images/banner.png);
    background-size: 100vw;
    height: 50vw;
}

/* socials icons */

.icons {
    padding-top: 1vw;
    padding-left: 2vw;
}

.icons .icon {
    width: 2.5vw;
    height: 2.5vw;
    padding: 0.2rem;
}

/* nav bar links */

.navbar {
    top: 0.5vw;
    right: 2vw;
    display: inline-flex;
    align-items: center;
    position: absolute;
}

.navbar .navlink {
    padding: 0.3rem;
    font-size: 1.5vw;
    font-family: Bayon;
    cursor: pointer;
    color: var(--text-primary);
}

.navbar .navlink1 {
    padding: 0.3rem;
    font-size: 1.5vw;
    font-family: Bayon;
    cursor: pointer;
    color: var(--primary-color);
}

.navbar .logo {
    width: 6vw;
}

/* opening text */

.bannerText {
    top: 10vw;
    right: 2vw;
    position: absolute;
    text-align: right;
}

.bannerText h1 {
    font-family: AudioWide;
    font-size: min(6vw, 4.5425rem);
    padding: 0;
    margin-bottom: 0;
    color: var(--text-primary);
}

.bannerText p {
    font-family: Bayon;
    font-size: min(2vw, 2.5345rem);
    margin-top: 0;
    color: var(--text-primary);
}

/* about section including about me text and skills logos */

.about {
    background-color: var(--background-secondary);
    display: flex;
    flex-direction: column;
}

/* heading text */
.heading {
    display: flex;
    position: static;
    justify-content: center;
    width: 90vw;
    margin-bottom: 0;
    padding-bottom: 0;
    margin: auto;
    align-items: end;
}

.heading .headingTag {
    font-size: min(4vw, 2.5rem);
    font-family: AudioWide;
    color: var(--primary-color);
    padding: 0.3rem;
    margin-bottom: 0;
    padding-bottom: 0;
}

.heading .headingText {
    font-size: min(4.5vw, 2.8125rem);
    font-family: AudioWide;
    color: var(--text-secondary);
    padding: 0.3rem;
    margin-bottom: 0;
    padding-bottom: 0;
}

/* about me text */
.paragraph {
    position: static;
    font-size: min(1.5vw, 1.25rem);
    font-family: Bayon;
    color: var(--text-tertiary);
    padding-left: 10vw;
    padding-right: 10vw;
    text-align: center;
    margin-bottom: 0;
}

.paragraph a {
    position: static;
    font-size: min(1.5vw, 1.25rem);
    font-family: Bayon;
    color: var(--primary-color);
    text-align: center;
}

.SkillsandAchievements {
    display: flex;
    align-self: center;
    justify-content: space-between;
    align-items: top;
    width: 100vw;
}

/* Big Picture Education Stuff */
.achievements_section {
    flex: 1;
    flex-wrap: wrap;
    padding-left: 8vw;
    padding-right: 2vw;
    padding-bottom: 2vw;
    justify-content: center;
    width: 50vw;
}

.achievements_title {
    position: static;
    font-size: min(1.5vw, 1.25rem);
    font-family: Bayon;
    color: var(--primary-color);
    padding-right: 20px;
    text-align: left;
    padding-bottom: 0;
    margin-bottom: 0;
    text-align: center;
}

.achievement {
    display: inline-flex;
    flex-direction: column;
    align-content: flex-end;
    padding-top: 2vw;
}

.achievement h4 {
    position: static;
    font-size: min(1.5vw, 1.25rem);
    font-family: Bayon;
    color: var(--text-secondary);
    text-align: left;
    margin: 0;
}

.achievement h5 {
    position: static;
    font-size: min(1vw, 0.9375rem);
    font-family: Bayon;
    color: var(--text-tertiary);
    text-align: left;
    margin: 0;
    padding-left: 0.5vw;
}

.achievement p {
    position: static;
    font-size: min(1.25vw, 1rem);
    font-family: Bayon;
    color: var(--text-tertiary);
    padding-right: 20px;
    text-align: left;
    margin: 0;
    padding-left: 0.5vw;
}

/* skills section */

/* title */
.skills_title {
    position: static;
    font-size: min(1.5vw, 1.25rem);
    font-family: Bayon;
    color: var(--primary-color);
    padding-right: 5px;
    text-align: left;
    padding-bottom: 0;
    margin-bottom: 0;
    text-align: center;
}

/* skills grid */
.skillsGrid {
    flex: 1;
    padding-top: 2vw;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(4, 8vw);
    grid-template-rows: repeat(5, 8vw);
    grid-gap: 0.625rem;
    padding-bottom: 0.625rem;
    padding-right: 10vw;
    padding-left: 10vw;
}

.skill {
    position: relative;
    text-align: center;
}

.grid_image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.skill:hover .grid_image {
    transform: scale(0.5);
    filter: brightness(1.2);
}

.grid_text {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    opacity: 0;
    font-size: min(1.5vw, 0.9375rem);
    font-family: Bayon;
    color: var(--text-tertiary);
    text-align: center;
    transition: opacity 0.3s ease;
}

.skill:hover .grid_text {
    opacity: 1;
}

/* quotes section */

.quotes {
    align-items: center;
    padding-bottom: 5vw;
    width: 95vw;
}

.quote_container {
    display: inline-flex;
    align-items: center;
    align-content: space-evenly;
    margin-left: 10vw;
    margin-right: 10vw;
    height: max(32vw, 6.25rem);
}

.quote_button_left {
    font-size: min(6vw, 3.75rem);
    font-family: AudioWide;
    color: var(--primary-color);
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    display: inline-flex;
    position: absolute;
    cursor: pointer;
    left: 10vw;
}

.quote_button_right {
    font-size: min(6vw, 3.75rem);
    font-family: AudioWide;
    color: var(--primary-color);
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    position: absolute;
    display: inline-flex;
    cursor: pointer;
    right: 10vw;
}

.quote_heading {
    display: inline-flex;
    align-content: space-between;
}

.quotes h4 {
    position: static;
    font-size: min(4vw, 2.5rem);
    font-family: Bayon;
    color: var(--tertiary-color);
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 0;
    text-align: left;
    margin-bottom: 0;
    color: var(--text-secondary);
    text-decoration: underline;
    text-decoration-color: var(--primary-color);
}

.quotes h5 {
    position: static;
    font-size: min(2.2vw, 1.375rem);
    font-family: Bayon;
    color: var(--text-secondary);
    padding-left: 5vw;
    padding-right: 5vw;
    text-align: left;
    margin-bottom: 0;
}

.quote_author_container {
    display: inline-flex;
    align-items: center;
}

.quotes img {
    margin-left: 5vw;
    margin-right: 2vw;
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    border-style: solid;
    border-color: var(--primary-color);
    border-width: 2px;
}

.quotes p {
    position: static;
    font-size: min(1vw, 0.9375rem);
    font-family: Bayon;
    color: var(--text-tertiary);
    padding-right: 5vw;
    text-align: left;
    margin-bottom: 0;
}

/* projects section */

.projects {
    background-color: var(--background-primary);
    background-size: 100vw;
    width: 100vw;
}

.projects_title {
    background-image: url(assets/images/projects_section.png);
    width: 100vw;
    background-size: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    height: calc(100vw / 4);
    align-content: end;
}

/* heading text */
.projects .heading {
    display: flex;
    position: static;
    justify-content: center;
    width: 100vw;
}

.projects .heading .headingTag {
    font-size: min(4vw, 2.5rem);
    font-family: AudioWide;
    color: var(--highlight-color);
    padding: 0.3rem;
    margin-bottom: 0;
    padding-bottom: 0;
}

.projects .heading .headingText {
    font-size: min(4.5vw, 2.8125rem);
    font-family: AudioWide;
    color: var(--text-primary);
    padding: 0.3rem;
    margin-bottom: 0;
    padding-bottom: 0;
}

/* projects grid to display projects */

.projects_content {
    background-image: url(assets/images/experience.png);

    width: 100vw;
    padding-bottom: 0;
    align-items: center;
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    border-bottom: none;
}

.project_grid {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 45vw);
    margin: auto;
    gap: 2vw;
    width: 100vw;
    justify-content: center;
    padding-bottom: 20vw;
}

/* by project */

.project {
    display: flex;
    align-items: center;
    padding: 2vw;
    text-align: center;
    width: 40vw;
    cursor: pointer;
}

/* projects text in general */

.Project_text {
    color: var(--text-primary);
    display: block;
    align-items: start;
    text-align: start;
    font-family: Bayon;
}

/* projects heading */

.Project_text h4 {
    margin-bottom: 0;
    font-size: min(2vw, 1.25rem);
}

/* project about text */

.Project_text p {
    margin-top: 0;
    font-size: min(1.5vw, 0.9375rem);
}

/* img for the project */

.project_image {
    width: max(15vw, 1.25rem);
    height: max(15vw, 1.25rem);
}

/* skills list for experience and projects */

.skills_list {
    display: grid;
    grid-template-columns: repeat(5, 4vw);
}

.skills_list img {
    width: 100%;
}

/* Experience section */

.experience {
    background-size: 100vw;
    background-color: var(--background-secondary);
    align-items: center;
}

/* heading text */
.experience .heading {
    display: flex;
    position: static;
    justify-content: center;
    width: 90vw;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

.experience .heading .headingTag {
    font-size: min(4vw, 2.5rem);
    font-family: AudioWide;
    color: var(--primary-color);
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    margin-bottom: 0;
    padding-bottom: 0;
}

.experience .heading .headingText {
    font-size: min(4.5vw, 2.8125rem);
    font-family: AudioWide;
    color: var(--text-secondary);
    margin-bottom: 0;
    padding-bottom: 0;
}

.place_grid {
    display: grid;
    grid-template-columns: repeat(2, 45vw);
    margin: auto;
    gap: 2vw;
    width: 100vw;
    justify-content: center;
}

/* by project */

.place {
    display: flex;
    align-items: center;
    text-align: center;
    width: 40vw;
    cursor: pointer;
}

/* projects text in general */

.Place_text {
    display: block;
    align-items: start;
    text-align: start;
    font-family: Bayon;
    color: var(--text-secondary);
}

/* projects heading */

.Place_text h4 {
    margin-bottom: 0;
    font-size: min(2vw, 1.25rem);
}

/* project about text */

.Place_text p {
    margin-top: 0;
    font-size: min(1.5vw, 0.9375rem);
}

/* img for the project */

.place_image {
    width: max(15vw, 1.25rem);
    height: max(15vw, 1.25rem);
    padding-left: 0.3rem;
}

/* footer of links */
.footer {
    background-color: var(--background-secondary);
    align-items: center;
    width: 100vw;
    padding-top: 5vw;
    display: inline-flex;
    justify-content: space-between;
}

.acknowledgemets {
    display: inline-flex;
    align-items: center;
}

.acknowledgemets img {
    height: 2vw;
    padding-left: 1vw;

}

.acknowledgemets p {
    font-size: min(1.5vw, 0.9375rem);
    color: var(--text-secondary);
    font-family: Bayon;
    display: inline-flex;
    padding-left: 1vw;

}

.footer_icons {
    padding-right: 2vw;
    float: right;
    display: inline-flex;
    align-items: center;

}

.footer_icons .footer_icon {
    width: 2.5vw;
    height: 2.5vw;
    padding-right: 0.3125rem;
    padding-left: 0.3125rem;
}

/* footer image */
.footer .logo {
    width: 5vw;
    float: right;
}

/* to change the amount in a row depending on the screen width */
@media screen and (max-width: 1000px) {

    body {
        -webkit-text-size-adjust: 100%;
    }

    /* switches about section horizontal */
    .SkillsandAchievements {
        display: inline-block;
        align-self: center;
        justify-content: space-between;
        align-items: center;
        width: 100vw;
    }

    .achievements_section {
        width: 90vw;
    }

    .skillsGrid {
        flex: 1;
        flex-wrap: wrap;
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(3, 0.25fr);
        grid-template-rows: repeat(7, 8vw);
        grid-gap: 0.625rem;
    }

    /* makes the project images vertical */
    .project {
        display: inline-block;
        align-items: center;
        padding: 2vw;
        padding-top: 0;
        text-align: center;
        width: 45vw;
        cursor: pointer;
    }

    .project_image {
        width: max(25vw, 2.5rem);
        height: max(25vw, 2.5rem);
    }

    /* makes the experience vertical */
    .place {
        display: inline-block;
        align-items: center;
        padding: 2vw;
        text-align: center;
        width: 40vw;
        cursor: pointer;
    }

    .place_image {
        width: max(25vw, 2.5rem);
        height: max(25vw, 2.5rem);
        padding-left: 0.3125rem;
    }

    /* makes icons invisible */
    .icons {
        display: none !important;
    }
}